%titulos { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

%images-centradas {
        padding-top: 2.5%;
        display: flex;
        justify-content: center;   
}

%texto-bio { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-left: 25%;
        padding-right: 25%;
        
}

%texto-bio2 {
        padding-top: 0.5%;
        padding-left: 25%;
        padding-right: 25%;
        padding-bottom: 0.5%;
}
